<%layout('layout/boilerplate')%>
    <h2>Details of campground</h2>
    <ul>
<h2><%= details.title %></h2>
<img src="<%=details.image%>" alt="">
<p><%=details.description%></p>
<li><b>Price : </b><%= details.price  %></li>
<li><b>location : </b><%= details.location%></li>
    </ul>

    <a href="/campgrounds/<%=details._id%>/edit">edit</a>
    <a href="/campgrounds">index</a>

