
<%layout('layout/boilerplate')%>
<div class="row">
    <h1 class="text-center">Edit campground</h1>
    <div class="col-6 offset-3">
        <form novalidate action="/campgrounds/<%=camp._id%>?_method=PUT" class="check-validation" method="post">
  
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">@</span>
    <input type="text" value="<%=camp.title%>" class="form-control" name="title" required placeholder="Title" aria-describedby="basic-addon1">
    <div id="validationServer05Feedback" class="invalid-feedback">
      Please provide a title
    </div>  
  
  
  </div>
    
    <div class="input-group mb-3">
        <span class="input-group-text">Price(INR)</span>
        <input type="text" value="<%=camp.price%>" required name="price" class="form-control" aria-label="Amount (to the nearest dollar)">
        <div id="validationServer05Feedback" class="invalid-feedback">
          Enter the price
        </div> 
      </div>
    
    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon3">Image Url</span>
      <input type="text" name="image" value="<%=camp.image%>" class="form-control" id="basic-url" aria-describedby="basic-addon3">
    </div>
    
    <div class="input-group mb-3">
        <span class="input-group-text">Location</span>
        <input type="text" name="location"value="<%=camp.location%>" class="form-control" aria-label="Location">
       
      </div>
      
    <div class="input-group mb-3">
        <span class="input-group-text">Description</span>
        <input type="text" name="description"value="<%=camp.description%>" class="form-control" aria-label="Description">
       
      </div>
    
    
    <div class="mb-3">
    <button class="btn btn-info text-white" >Save Changes</button>
    
    </div>
    </form>
    
    
    <form action="/campgrounds/<%=camp._id%>" >
        <button class="btn btn-primary mb-3">Cancel</button>
    </form>
    <form action="/campgrounds/<%=camp._id%>?_method=DELETE" method="post">
        <button class="btn btn-primary mb-3">delete</button>
    </form>


    </div>
    
    </div>
   
   

